body {
    margin: 0;
    padding: 0;
    font-family: Calibri;
    background-color: #f1f3f3;
}

.header {
    background: linear-gradient(
        to right,
        #131c79,
        #1f2497,
        #2327a2,
        #292ab0,
        #3231c6
    );
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.icon, .icon-right {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    padding: 0;
    box-sizing: border-box;
}

.icon { /* Icono izquierdo */
    left: 0;
}

.icon-right { /* Icono derecho */
    right: 0;
}

.welcome-container {
    text-align: center;
}

.subtext {
    color: #000;
    font-size: 24px;
    font-weight: bold;
}

/* Estilo adicional para el formulario */
.formulario {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario label {
    display: block;
    margin-bottom: 18px;
    font-weight: bold;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #d2e6ff;
    border-radius: 20px;
    background-color: #d2e6ff;
    font-family: Calibri; /* Fuente Calibri para los textos en los inputs */
    font-size: 16px;
}

.formulario button {
    width: 25%;
    background: #343ba8;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 20px;
}

.formulario .button-container {
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 80px;
    border-radius: 0;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
}

.modal .top-bar {
    background-color: #343ba8;
    color: #fff;
    padding: 15px;
    width: 100%; /* Cambiado de 50% a 100% */
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
}

.modal .modal-content .close-button {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}

.modal button {
    background: #343ba8;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.cliente-no-registrado {
    margin-bottom: 5px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

#datosCliente label {
    display: inline-block;
    width: 83px;
}

#datosCliente input {
    display: inline-block;
    width: calc(40% - 40px);
    margin-right: 10px;
}
